/* CSS reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Helvetica, Sans-Serif;
}

/* Header */

div.headerCrt {
	display: flex;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 3em;
	justify-content:space-between;
	align-items:center;
	background-color: #86C232;
}

img.icon {
	display:flex;
}

ul.headerLinks {
	display: flex;
	gap: 10em;
	list-style: none;
}

a, a:visited {
	 text-decoration: none;
}

a.headerLink {
	background-color:black;
	color:white;
	padding: 1em;
	border-style: solid;
	border-color: black;
	border-radius: 1.2em;
	font-size: 1.1em;
	transition: 0.4s;
}

a.headerLink:hover {
	background-color:white;
	color:black;
	border-color:white;
}

/* Main */

div.mainCrt1 {
	display:flex;
	justify-content:space-around;
	align-items:center;
	padding: 1em;
	background-color:black;
	color:white;
}

div.mainCrt2 {
	display:flex;
	flex-direction:row-reverse;
	justify-content:space-around;
	align-items:center;
	padding: 1em;
	background-color:#86C232;
	color:black;
}
	
/* Footer */

footer {
	background-color:#474B4f;
	color:white;
	text-align:center;
	padding:1em;
}

a.footerLink {
	color:white;
}
